.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.hero:before {
  content: "";
  position: absolute;
  background: url("../../assets/justicebackground.png") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
}

.hero .contentHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 30%;
  color: white;
  position: absolute;
  left: 6%;
  width: 50%;
  padding: 1rem;
  transition: all 0.5s;
}

.hero .contentHero p {
  margin: 1rem 0;
  color: white;
  text-align: justify;
  width: 771px;
  transition: all 0.5s;
}

.spanGold {
  color: #e7af7a;
  transition: all 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero .contentHero {
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 279px;
    transition: all 0.5s;
    font-size: 15px;
  }

  .h2Hero {
    font-size: 2rem;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .hero .contentHero {
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 433px;
    transition: all 0.5s;
    font-size: 18px;
  }

  .h2Hero {
    font-size: 2.5rem;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  .hero .contentHero {
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 546px;
    transition: all 0.5s;
    font-size: 20px;
  }

  .h2Hero {
    font-size: 2.5rem;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 700px) and (max-width: 802px) {
  .hero .contentHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    color: white;
    position: absolute;
    left: 6%;
    width: 453px;
    padding: 1rem;
    transition: all 0.5s;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 598px;
    transition: all 0.5s;
  }

  .h2Hero {
    font-size: 2.5rem;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 1249px) and (max-width: 1499px) {
  .hero .contentHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    color: white;
    position: absolute;
    left: 14px;
    width: 453px;
    padding: 1rem;
    transition: all 0.5s;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 598px;
    transition: all 0.5s;
  }

  .h2Hero {
    font-size: 2.5rem;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1799px) {
  .hero .contentHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    color: white;
    position: absolute;
    left: 24px;
    width: 453px;
    padding: 1rem;
    transition: all 0.5s;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 598px;
    transition: all 0.5s;
  }

  .h2Hero {
    font-size: 2.5rem;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2099px) {
  .hero .contentHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 35%;
    color: white;
    position: absolute;
    left: 24px;
    width: 453px;
    padding: 1rem;
    transition: all 0.5s;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 598px;
    transition: all 0.5s;
  }

  .h2Hero {
    font-size: 2.5rem;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 2100px) and (max-width: 2399px) {
  .hero .contentHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 35%;
    color: white;
    position: absolute;
    left: 24px;
    width: 560px;
    padding: 1rem;
    transition: all 0.5s;
  }

  .hero .contentHero p {
    margin: 1rem 0;
    color: white;
    text-align: justify;
    width: 780px;
    transition: all 0.5s;
    font-size: 30px;
  }

  .h2Hero {
    font-size: 4rem;
    transition: all 0.5s;
  }

  .btnGold {
    font-family: "Roboto", sans-serif;
    padding: 0.7rem 1.5rem;
    margin: 1rem 0;
    background-color: #e7af7a;
    border: 1px solid #e7af7a;
    color: #f8f8f8;
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    border-radius: 4px;
    transition: all 0.5s;
  }
}