/* .imgDif {
  height: 300px;
  width: 300px;
  border-radius: 3px;
  transition: .5s;
}

.titleText {
  margin-top: 70px;
  margin-left: 413px;
}

.container {
  display: flex;
}

.intro {
  height: 80px;
  width: 302px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, .5);
  color: white;
  bottom: 484px;
  transition: .5s;
}

.h1Dif {
  margin: 10px;
  font-size: 40px;
}

.h1DifCard2 {
  margin: 10px;
  font-size: 35px;
}

.h1DifCard3 {
  margin: 10px;
  font-size: 31px;
}

.h1DifCard5 {
  margin: 10px;
  font-size: 22px;
}

.pDif {
  font-size: 15px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.spanDif {
  font-weight: bold;
}

.card {
  height: 300px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.containerThreeCards {
  display: flex;
  height: 400px;
  margin-top: 103px;
}

.containerLastCards {
  display: flex;
  height: 400px;
  margin-top: 458px;
  margin-left: -1000px;
}

.introLastCards {
  height: 80px;
  width: 302px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, .5);
  color: white;
  bottom: 128px;
  transition: .5s;
}

.card:hover .introLastCards {
  height: 220px;
  bottom: 158px;
  background: black;
}

.card:hover {
  cursor: pointer;
}

.card:hover .intro {
  height: 220px;
  bottom: 516px;
  background: black;
}

.card:hover .pDif {
  opacity: 1;
  visibility: visible;
  color: #f8f8f8;
  text-align: justify;
  width: 279px;
}

.card:hover img {
  transform: scale(1.1) rotate(-3deg);
} */

.cards {
  width: 100%;
  height: 56vh;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

.cards:before {
  content: "";
  position: absolute;
  background: url("../../assets/areas.png") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
}

/* .cards .content {
  position: absolute;
  left: 55%;
  top: 30%;
  width: 50%;
  padding: 1rem;
  transition: all 0.5s;
}

.cards h2 {
  color: #f8f8f8;
  transition: all 0.5s;
}

.cards p {
  color: #f8f8f8;
  margin: 1rem 0;
  text-align: justify;
  width: 570px;
  transition: all 0.5s;
} */

/* @media screen and (max-width: 600px) {
  .cards .content {
    top: 230px;
    left: 0;
    width: 100%;
  }

  .cards h2 {
    position: absolute;
    top: -25px;
    color: #f8f8f8;
  }

  .cards p {
    color: #f8f8f8;
    text-align: justify;
    width: 540px;
  }

}

@media screen and (max-width: 768px) {
  .cards .content {
    top: 230px;
    left: 0;
    width: 100%;
  }

  .cards h2 {
    position: absolute;
    top: -25px;
    color: #f8f8f8;
  }

  .cards p {
    color: #f8f8f8;
    text-align: justify;
    width: 540px;
  }

}

@media screen and (max-width: 940px) {
  .cards .content {
    top: 230px;
    left: 0;
    width: 100%;
  }

  .cards h2 {
    position: absolute;
    top: -25px;
    color: #f8f8f8;
  }

  .cards p {
    color: #f8f8f8;
    text-align: justify;
    width: 540px;
  }

}

@media screen and (max-width: 1280px) {
  .cards .content {
    top: 230px;
    left: 0;
    width: 100%;
  }

  .cards h2 {
    position: absolute;
    top: -25px;
    color: #f8f8f8;
  }

  .cards p {
    color: #f8f8f8;
    text-align: justify;
    width: 540px;
  }

}

@media screen and (max-width: 1920px) {
  .cards .content {
    top: 230px;
    left: 0;
    width: 100%;
  }

  .cards h2 {
    position: absolute;
    top: -25px;
    color: #f8f8f8;
  }

  .cards p {
    color: #f8f8f8;
    text-align: justify;
    width: 540px;
  }

} */

.containerCards {
  position: absolute;
  height: 400px;
  width: 705px;
  top: 60px;
  left: calc(50% - 320px);
  display: flex;
  margin-top: 57px;
  margin-right: 20px;
  margin-left: -30px;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 40px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 132px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg,
      rgba(0, 154, 217, 1) 0%,
      rgba(217, 147, 0, 1) 65%,
      rgba(255, 186, 0, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.imgDif {
  height: 125px;
  width: 129px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 136px;
  margin-left: 27px;
}

.h1Dif {
  font-size: 2.1rem;
  color: white;
  text-align: center;
}

.containerText {
  padding: 27px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .containerCards {
    position: absolute;
    height: 414px;
    width: 100%;
    top: 49px;
    left: calc(50% - 311px);
    display: flex;
    margin-right: 20px;
    margin-left: 79px;
    margin-top: 85px;
  }

  .card {
    display: flex;
    height: 193px;
    width: 100%;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin-left: 53px;
    transition: 0.4s ease-out;
    position: relative;
    left: 10px;
  }

  .imgDif {
    height: 46px;
    width: 50px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 103px;
    margin-left: 27px;
  }

  .bar {
    position: absolute;
    top: 70px;
    left: 20px;
    height: 5px;
    width: 60px;
  }

  .card:hover .filledbar {
    width: 56px;
    transition: 0.4s ease-out;
  }

  .title {
    color: white;
    font-weight: 300;
    font-size: 10px;
    position: absolute;
    left: 13px;
    top: 15px;
  }

  .containerText {
    padding: 49px;
  }

  .h1Dif {
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .containerCards {
    position: absolute;
    height: 285px;
    width: 100%;
    top: 91px;
    left: calc(50% - 300px);
    display: flex;
    margin-right: 20px;
    margin-left: 53px;
    margin-top: 85px;
  }

  .card {
    display: flex;
    height: 193px;
    width: 118px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin-left: 31px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .imgDif {
    height: 68px;
    width: 78px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 103px;
    margin-left: 27px;
  }

  .bar {
    position: absolute;
    top: 70px;
    left: 20px;
    height: 5px;
    width: 80px;
  }

  .card:hover .filledbar {
    width: 75px;
    transition: 0.4s ease-out;
  }

  .title {
    color: white;
    font-weight: 300;
    font-size: 12px;
    position: absolute;
    left: 13px;
    top: 15px;
  }

  .containerText {
    padding: 49px;
  }

  .h1Dif {
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
}

/* @media screen and (min-width: 350px) and (max-width: 880px) {
  .containerCards {
    position: absolute;
    height: 414px;
    width: 100%;
    top: 91px;
    left: calc(50% - 320px);
    display: flex;
    margin-right: 20px;
    margin-left: 144px;
    margin-top: 85px;
  }

  .card {
    display: flex;
    height: 162px;
    width: 98px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin-left: 5px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .imgDif {
    height: 46px;
    width: 50px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 103px;
    margin-left: 27px;
  }

  .bar {
    position: absolute;
    top: 70px;
    left: 20px;
    height: 5px;
    width: 60px;
  }

  .card:hover .filledbar {
    width: 56px;
    transition: 0.4s ease-out;
  }

  .title {
    color: white;
    font-weight: 300;
    font-size: 10px;
    position: absolute;
    left: 13px;
    top: 15px;
  }

  .containerText {
    padding: 49px;
  }

  .h1Dif {
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: 881px) and (max-width: 1280px) {
} */