@font-face {
  font-family: MuseoSlab;
  src: url("../../fonts/Museo_Slab_300.otf");
}

@font-face {
  font-family: GamberoThin;
  src: url("../../fonts/Gambero_Thin.otf");
}

@font-face {
  font-family: AmalineTrial;
  src: url("../../fonts/AmalineTrial.otf");
}

.navbar {
  width: 100%;
  height: 197px;
  position: absolute;
  z-index: 10;
  transition: all 0.5s;
  top: -15px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 1rem;
  transition: all 0.5s;
}

.mainTitle {
  position: relative;
  left: 90px;
  color: #dfac1c;
  font-family: MuseoSlab;
  font-weight: 100;
  font-size: 50px;
  transition: all 0.5s;
}

.mainSubtitle {
  width: 300px;
  margin-left: -265px;
  margin-top: 145px;
  position: relative;
  color: #dfac1c;
  font-family: GamberoThin;
  font-weight: 100;
  font-size: 15px;
  transition: all 0.5s;
}

.mainLine {
  height: 2px;
  background: #dfac1c;
  width: 320px;
  margin-left: -220px;
  margin-top: 85px;
  position: relative;
  transition: all 0.5s;
}

.navbar .logo .icon {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--primary-color);
  transition: all 0.5s;
}

.hamburger {
  display: none;
  padding: 1rem;
  transition: all 0.5s;
}

.navbar .nav-menu {
  height: 100%;
  align-items: center;
  display: flex;
  padding: 1rem;
  transition: all 0.5s;
}

.navbar li {
  padding: 1rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s;
}

.navbar .icon {
  position: absolute;
  font-size: 1.4rem;
  color: #fff;
  height: 55px;
  width: 55px;
  right: 38px;
  top: 20px;
  transition: all 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    overflow: inherit;
  }

  .mainTitle {
    position: relative;
    left: 65px;
    color: #dfac1c;
    font-family: MuseoSlab;
    font-weight: 100;
    font-size: 40px;
    top: 62px;
  }

  .mainLine {
    height: 1px;
    background: #dfac1c;
    left: 43px;
    margin-top: 166px;
    position: relative;
    width: 250px;
    transition: all 0.5s;
  }

  .mainSubtitle {
    width: 244px;
    margin-left: -190px;
    margin-top: 198px;
    position: relative;
    color: #dfac1c;
    font-family: GamberoThin;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
  }

  .navbar .hamburger {
    display: block;
    z-index: 15;
  }

  .navbar .nav-menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in;
  }

  .navbar .active {
    left: 0;
  }

  .navbar li {
    margin-right: 1rem;
    font-size: 1.3rem;
  }

  .navbar button {
    font-size: 1.8rem;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -15px;
    transition: all 0.5s;
    margin-top: -106px;
  }

  .navbar img {
    width: 197px;
    height: 62px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    overflow: inherit;
  }

  .mainTitle {
    position: relative;
    left: 126px;
    color: #dfac1c;
    font-family: MuseoSlab;
    font-weight: 100;
    font-size: 40px;
    top: 62px;
  }

  .mainLine {
    height: 1px;
    background: #dfac1c;
    left: 103px;
    margin-top: 166px;
    position: relative;
    width: 250px;
    transition: all 0.5s;
  }

  .mainSubtitle {
    width: 244px;
    margin-left: -132px;
    margin-top: 198px;
    position: relative;
    color: #dfac1c;
    font-family: GamberoThin;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
  }

  .navbar .hamburger {
    display: block;
    z-index: 15;
  }

  .navbar .nav-menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in;
  }

  .navbar .active {
    left: 0;
  }

  .navbar li {
    margin-right: 1rem;
    font-size: 1.3rem;
  }

  .navbar button {
    font-size: 1.8rem;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -15px;
    transition: all 0.5s;
    margin-top: -100px;
  }

  .navbar img {
    width: 250px;
    height: 80px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    overflow: inherit;
  }

  .mainTitle {
    position: relative;
    left: 161px;
    color: #dfac1c;
    font-family: MuseoSlab;
    font-weight: 100;
    font-size: 40px;
    top: 78px;
  }

  .mainLine {
    height: -14px;
    background: #dfac1c;
    left: 140px;
    margin-top: 194px;
    position: relative;
    width: 250px;
    transition: all 0.5s;
  }

  .mainSubtitle {
    width: 244px;
    margin-left: -96px;
    margin-top: 224px;
    position: relative;
    color: #dfac1c;
    font-family: GamberoThin;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
  }

  .navbar .nav-menu {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 1rem;
    margin-left: -408px;
    left: -37px;
    transition: all 0.5s;
    position: relative;
    justify-content: center;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -15px;
    transition: all 0.5s;
    margin-top: -100px;
    margin-left: 128px;
  }

  .navbar img {
    width: 200px;
    height: 61px;
    margin-left: 52px;
  }
}

@media screen and (min-width: 700px) and (max-width: 802px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    overflow: inherit;
  }

  .mainTitle {
    position: relative;
    left: 227px;
    color: #dfac1c;
    font-family: MuseoSlab;
    font-weight: 100;
    font-size: 40px;
    top: 78px;
  }

  .mainLine {
    height: -14px;
    background: #dfac1c;
    left: 202px;
    margin-top: 194px;
    position: relative;
    width: 250px;
    transition: all 0.5s;
  }

  .mainSubtitle {
    width: 244px;
    margin-left: -31px;
    margin-top: 224px;
    position: relative;
    color: #dfac1c;
    font-family: GamberoThin;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
  }

  .navbar .nav-menu {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 1rem;
    margin-left: -250px;
    left: -135px;
    transition: all 0.5s;
    position: relative;
    justify-content: center;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -15px;
    transition: all 0.5s;
    margin-top: -105px;
    margin-left: 128px;
  }

  .navbar img {
    width: 200px;
    height: 61px;
    margin-left: 93px;
  }
}

@media screen and (min-width: 803px) and (max-width: 1024px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    overflow: inherit;
  }

  .mainTitle {
    position: relative;
    left: 28px;
    color: #dfac1c;
    font-family: MuseoSlab;
    font-weight: 100;
    font-size: 40px;
    top: -2px;
  }

  .mainLine {
    height: -14px;
    background: #dfac1c;
    left: 6px;
    margin-top: 45px;
    position: relative;
    width: 250px;
    transition: all 0.5s;
  }

  .mainSubtitle {
    width: 244px;
    margin-left: -228px;
    margin-top: 88px;
    position: relative;
    color: #dfac1c;
    font-family: GamberoThin;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
  }

  .navbar .nav-menu {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 1rem;
    margin-left: -250px;
    left: -55px;
    top: 19px;
    transition: all 0.5s;
    position: relative;
    justify-content: center;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -15px;
    transition: all 0.5s;
    margin-top: 28px;
  }

  .navbar img {
    width: 250px;
    height: 80px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    overflow: inherit;
  }

  .mainTitle {
    position: relative;
    left: 28px;
    color: #dfac1c;
    font-family: MuseoSlab;
    font-weight: 100;
    font-size: 40px;
    top: -2px;
  }

  .mainLine {
    height: -14px;
    background: #dfac1c;
    left: 6px;
    margin-top: 45px;
    position: relative;
    width: 250px;
    transition: all 0.5s;
  }

  .mainSubtitle {
    width: 244px;
    margin-left: -228px;
    margin-top: 88px;
    position: relative;
    color: #dfac1c;
    font-family: GamberoThin;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
  }

  .navbar .nav-menu {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 1rem;
    margin-left: -250px;
    left: -55px;
    top: 19px;
    transition: all 0.5s;
    position: relative;
    justify-content: center;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -15px;
    transition: all 0.5s;
    margin-top: 28px;
  }

  .navbar img {
    width: 294px;
    height: 87px;
    margin-left: 40px;
  }
}

/* @media screen and (min-width: 350px) and (max-width: 880px) {
  .mainTitle {
    position: relative;
    left: 65px;
    color: #dfac1c;
    font-family: MuseoSlab;
    font-weight: 100;
    font-size: 40px;
    top: 62px;
  }

  .mainLine {
    height: 1px;
    background: #dfac1c;
    left: 43px;
    margin-top: 166px;
    position: relative;
    width: 250px;
    transition: all 0.5s;
  }

  .mainSubtitle {
    width: 272px;
    margin-left: -190px;
    margin-top: 198px;
    position: relative;
    color: #dfac1c;
    font-family: GamberoThin;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
  }

  .navbar .hamburger {
    display: block;
    z-index: 15;
  }

  .navbar .nav-menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in;
  }

  .navbar .active {
    left: 0;
  }

  .navbar li {
    margin-right: 1rem;
    font-size: 1.8rem;
  }

  .navbar button {
    font-size: 1.8rem;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: -15px;
    transition: all 0.5s;
    margin-top: -40px;
  }
}

@media screen and (min-width: 881px) and (max-width: 1280px) {
  .navbar li {
    margin-right: 0.5rem;
  }
} */