.footer {
  z-index: -1;
  width: 100%;
  height: 45vh;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.5s;
}

.footer:before {
  content: "";
  position: absolute;
  background: url("../../assets/footer-bg.jpg") no-repeat center center/cover;
  height: 95%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
}

.footer .containerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.footer .top {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}

.footer .top .logo-footer {
  display: flex;
  align-items: center;
  transition: all 0.5s;
  margin-left: -4px;
}

.footer .top .icon {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--primary-color);
  cursor: pointer;
  height: 65px;
  width: 65px;
  transition: all 0.5s;
}

.footer h2 {
  font-size: 2rem;
  transition: all 0.5s;
}

.endereco {
  top: 40px;
  position: relative;
  transition: all 0.5s;
  user-select: none;
}

.footer .col-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  padding: 1rem;
  width: 100%;
  transition: all 0.5s;
}

.footer h3 {
  margin: 1rem 0 2rem 0;
  text-transform: uppercase;
  transition: all 0.5s;
}

.footer p {
  margin: 0.5rem 0;
  transition: all 0.5s;
  margin-left: 124px;
  width: 860px;
}

.footer form {
  width: 100%;
  margin-bottom: 0.6rem;
  position: relative;
  transition: all 0.5s;
}

.footer form input {
  padding: 1rem;
  width: 100%;
  outline: none;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #333;
  transition: all 0.5s;
}

.footer form input:focus {
  color: #333;
  outline: var(--primary-color);
  box-shadow: 0 0 8px 0 var(--primary-dark);
  transition: all 0.5s;
}

.footer form .mail-icon {
  position: absolute;
  font-size: 1.4rem;
  margin: -0.5rem;
  right: 0.2rem;
  color: #aaa;
  cursor: pointer;
  height: 70px;
  margin-right: auto;
  transition: all 0.5s;
}

.footer form .social-icon {
  margin: 1rem 1rem 1rem 0;
  padding: 0.6rem;
  background-color: var(--primary-dark);
  border-radius: 4px;
  height: 50px;
  font-size: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .containerFooter {
    max-width: 1240px;
    margin: auto;
    margin-left: 101px;
    height: 100%;
    position: relative;
    transition: all 0.5s;
  }

  .footer .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -2px;
    color: white;
    position: absolute;
    left: 45px;
    width: 50%;
    padding: 1rem;
    transition: all 0.5s;
  }

  .h2Footer {
    color: black;
    margin-top: 6px;
    margin-left: -149px;
  }

  .footer h3 {
    color: black;
    margin-top: 74px;
    margin-left: -66px;
  }

  .footer form input {
    padding: 1rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #333;
    transition: all 0.5s;
    margin-left: -67px;
    width: 279px;
  }

  .footer form .mail-icon {
    position: relative;
    font-size: 1.4rem;
    margin: -0.5rem;
    right: 7.2px;
    color: #aaa;
    cursor: pointer;
    top: -13px;
    height: 70px;
    margin-left: 132px;
    margin-right: auto;
    margin-top: -51px;
    transition: all 0.5s;
  }

  .socialGroup {
    margin-left: -66px;
    margin-bottom: 5px;
  }

  .footer p {
    margin: 0.5rem 0;
    transition: all 0.5s;
    margin-left: 11px;
    width: 295px;
    font-size: 12px;
  }

  .endereco {
    position: relative;
    transition: all 0.5s;
    -webkit-user-select: none;
    user-select: none;
    top: 0px;
  }

  .footer {
    z-index: -1;
    width: 100%;
    height: 54vh;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.5s;
  }

  .footer form {
    width: 100%;
    margin-bottom: 0.6rem;
    position: relative;
    transition: all 0.5s;
    margin-left: -52px;
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .containerFooter {
    max-width: 1240px;
    margin: auto;
    margin-left: 101px;
    height: 100%;
    position: relative;
    transition: all 0.5s;
  }

  .footer .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -2px;
    color: white;
    position: absolute;
    left: 45px;
    width: 50%;
    padding: 1rem;
    transition: all 0.5s;
  }

  .h2Footer {
    color: black;
    margin-top: 6px;
    margin-left: -149px;
  }

  .footer h3 {
    color: black;
    margin-top: 74px;
    margin-left: -66px;
  }

  .footer form input {
    padding: 1rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #333;
    transition: all 0.5s;
    margin-left: -67px;
    width: 405px;
  }

  .footer form .mail-icon {
    position: relative;
    font-size: 1.4rem;
    margin: -0.5rem;
    right: -126.8px;
    color: #aaa;
    cursor: pointer;
    top: -13px;
    height: 70px;
    margin-left: 132px;
    margin-right: auto;
    margin-top: -51px;
    transition: all 0.5s;
  }

  .socialGroup {
    margin-left: -66px;
    margin-bottom: 5px;
  }

  .footer p {
    margin: 0.5rem 0;
    transition: all 0.5s;
    margin-left: 11px;
    width: 423px;
    font-size: 15px;
  }

  .endereco {
    position: relative;
    transition: all 0.5s;
    -webkit-user-select: none;
    user-select: none;
    top: 0px;
  }

  .footer {
    z-index: -1;
    width: 100%;
    height: 37vh;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.5s;
  }

  .footer form {
    width: 100%;
    margin-bottom: 0.6rem;
    position: relative;
    transition: all 0.5s;
    margin-left: -52px;
  }
}

/* @media screen and (min-width: 350px) and (max-width: 880px) {
  .footer h3 {
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-left: 11px;
  }

  .footer form input {
    padding: 1rem;
    width: 336px;
    outline: none;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #333;
    margin-left: 11px;
  }

  .socialGroup {
    margin-left: 11px;
  }

  .endereco {
    top: -17px;
    position: relative;
    transition: all 0.5s;
    -webkit-user-select: none;
    user-select: none;
    margin-left: -116px;
  }

  .footer p {
    margin: 0.5rem 0;
    transition: all 0.5s;
    margin-left: 124px;
    width: 328px;
  }
}

@media screen and (min-width: 881px) and (max-width: 1280px) {
}

@media screen and (min-width: 1281px) and (max-width: 2000px) {
  .endereco {
    top: -17px;
    position: relative;
    transition: all 0.5s;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 80px;
  }

  .footer p {
    margin: 0.5rem 0;
    transition: all 0.5s;
    margin-left: 381px;
    width: 881px;
  }

  .footer h3 {
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-left: 4px;
  }

  .footer .top {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    margin-left: -9px;
  }
} */